.col-lg-6{
    text-align: center;
 
}



.card-header{
    background-color: black;
    border-radius: 20px;
    height: 40px;
}


.card-body{
    box-shadow:inset 19px 19px 14px 0px #3f2d2d99;
    background-color: rgb(108, 106, 78);
    overflow: scroll;
}
    
.card-title{
    font-weight: 600 ;
}

.card{
    margin-top: 10px;
    height: 450px;
    border-radius: 20px;
}

.card-img-top{
    margin-bottom: 20px;
    height: 100px;
    width: 200px;
}

body{
    background-color: rgb(141, 133, 188);
}

.container{
    text-align: center;
    padding: 30px;
   background-color: darkcyan;
}
a{
    background-color: greenyellow;
    font-weight: bold;
    padding: 3px;
    margin: 10px;
}